.tasks {
    list-style: none;
    padding: 0px;
    margin: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    padding: 10px;
}

.tasks__item--hiden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__buttons {
    border: none;
    width: 30px;
    height: 30px;
    color: hsl(0, 0%, 100%);
    transition: filter 0.5s;
}

.tasks__buttons--toggleDone {
    background-color: hsl(122, 65%, 29%);
}

.tasks__buttons--remove {
    background-color: hsl(348, 83%, 47%);

}

.tasks__buttons:hover {
    filter: brightness(1.3);
}

.tasks__buttons:active {
    filter: brightness(1.4);
    transition: none;
    box-shadow: inset 0px 2px 3px 2px hsla(180, 14%, 20%, 0.451);
}